@model IEnumerable<Booking.Models.ViewModels.GymClassWithUsersViewModel>

@{
    ViewData["Title"] = "Index";
    var showAll = ViewData["showAll"];
    
}

<h1>Boka gympass</h1>


@if (User.IsInRole("Admin"))
{
    <a asp-action="Create">Create New</a>
}


<button onclick="location.href='/?showAll=@showAll'">

    @if (showAll.Equals(false))
    {

        <span>Visa äldre gympass i listan</span>
    }
    else
    {
        <span>Visa endast aktuella pass listan</span>
    }



</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GymClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.GymClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
                   
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                    <a asp-action="Edit" asp-route-id="@item.GymClassId"> Edit </a><span>|</span>
                        <a asp-action="Details" asp-route-id="@item.GymClassId"> Details </a>

                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.GymClassId"> Delete </a>

                        <span>|</span>
                    }
                    @if(item.attending)
                    {
                            <a asp-action="BookingToggle" asp-route-id="@item.GymClassId">Avboka</a>
                        }
                    else
                        {
                            <a asp-action="BookingToggle" asp-route-id="@item.GymClassId">Boka</a>
                        }
                    
                   


            </td>
        </tr>
}
    </tbody>
</table>
